<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
</div>

{{ include('@AlbertirseSyliusBannerPlugin/admin/banner/_media.html.twig') }}
